section form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-top: 2vh;
}
section form label {
  font-size: 20px;
  font-weight: 500;
  color: #222;
  margin: 20px 0 5px 0;
}
section form input,
section form select,
section form textarea {
  border: 3px solid #ede7f6;
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  transition: border-color 0.1s, box-shadow 0.1s;
  color: #222;
  line-height: 1.5;
}
section form input:active,
section form input:focus,
section form textarea:active,
section form textarea:focus {
  border-color: #b39ddb;
  outline: 0;
}

.span-btn {
  cursor: pointer;
  margin-left: 10px;
  padding: 0 2px;
  outline: 2px solid #311b92;
}

.error {
  background-color: rgb(243, 94, 94);
  border-radius: 5px;
  padding: 10px;
}
