.categories {
  margin: 20px 0;
  display: grid;
  grid-gap: 1.25rem;
  grid-template-columns: repeat(3, 1fr);
}

.Cform > div > input {
  width: 400px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .categories {
    grid-template-columns: repeat(1, 1fr);
  }
}
