.main-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.logo{
    font-size: 2vw;
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    align-items: center;
    width: 30%;
}
.logo-link{
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: flex-end;
}
.nav-item{
    padding: 0px 10px;
    list-style: none;
    font-size: 2vw;
    margin: 10px;
}
.item-link{
    display: inline-block;
    color: rgb(15, 15, 15);
    text-decoration: none;
}
.item-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(26, 25, 25);
    transition: width .3s;
}
.item-link:hover::after {
    width: 100%;
}

